<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kikatech.usb">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application>
        <uses-library android:name="com.android.future.usb.accessory" />
        <activity
            android:name=".driver.receiver.UsbSysActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity=".Dialog"
            android:theme="@style/DialogActivity.Translucent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/usb_accessory_filter" />
        </activity>

        <receiver
            android:name=".driver.receiver.UsbSysReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kikatech.usb.device.USB_PERMISSION" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_DETACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                android:resource="@xml/usb_device_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_DETACHED"
                android:resource="@xml/usb_accessory_filter" />
        </receiver>
    </application>
</manifest>